n8n/workflows/enrollment-created.json
{
  "name": "enrollment-created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrollment-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: enrollment-created",
      "webhookId": "enrollment-created-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $env.STRIPE_SECRET_KEY }}"},
            {"name": "Content-Type",  "value": "application/x-www-form-urlencoded"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "mode",       "value": "payment"},
            {"name": "currency",   "value": "={{ $json.body.currency.toLowerCase() }}"},
            {"name": "amount",     "value": "={{ $json.body.amount_cents }}"},
            {"name": "success_url","value": "={{ $json.body.success_url }}"},
            {"name": "cancel_url", "value": "={{ $json.body.cancel_url }}"},
            {"name": "client_reference_id", "value": "={{ $json.body.enrollment_id }}"},
            {"name": "metadata[enrollment_id]", "value": "={{ $json.body.enrollment_id }}"},
            {"name": "metadata[student_id]",    "value": "={{ $json.body.student_id }}"},
            {"name": "metadata[course_slug]",   "value": "={{ $json.body.course.slug }}"},
            {"name": "line_items[0][quantity]", "value": "1"},
            {"name": "line_items[0][price_data][currency]",       "value": "={{ $json.body.currency.toLowerCase() }}"},
            {"name": "line_items[0][price_data][unit_amount]",    "value": "={{ $json.body.amount_cents }}"},
            {"name": "line_items[0][price_data][product_data][name]","value": "={{ $json.body.course.title }}"}
          ]
        },
        "options": {
          "timeout": 20000,
          "response": {"response": {"responseFormat": "json"}}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Create Stripe Checkout Session"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",               "value": "enrollment_checkout_created"},
            {"name": "enrollment_id",      "value": "={{ $json.body.enrollment_id }}"},
            {"name": "stripe_session_id",  "value": "={{ $node['Create Stripe Checkout Session'].json.id }}"},
            {"name": "checkout_url",       "value": "={{ $node['Create Stripe Checkout Session'].json.url }}"},
            {"name": "amount_cents",       "value": "={{ $node['Create Stripe Checkout Session'].json.amount_total }}"},
            {"name": "currency",           "value": "={{ $node['Create Stripe Checkout Session'].json.currency }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "name": "Notify Next.js: checkout created"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"checkout_url\": \"{{ $node['Create Stripe Checkout Session'].json.url }}\",\n  \"stripe_session_id\": \"{{ $node['Create Stripe Checkout Session'].json.id }}\"\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "name": "Respond to Next.js"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",         "value": "workflow_failed"},
            {"name": "workflow",     "value": "enrollment-created"},
            {"name": "error",        "value": "={{ $json.error.message }}"},
            {"name": "original_event","value": "={{ $('Webhook: enrollment-created').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter on Stripe error"
    }
  ],
  "connections": {
    "Webhook: enrollment-created": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Create Stripe Checkout Session", "type": "main", "index": 0}],
        [{"node": "Dead-letter on Stripe error",   "type": "main", "index": 0}]
      ]
    },
    "Create Stripe Checkout Session": {
      "main": [
        [{"node": "Notify Next.js: checkout created", "type": "main", "index": 0}],
        [{"node": "Dead-letter on Stripe error",       "type": "main", "index": 0}]
      ]
    },
    "Notify Next.js: checkout created": {
      "main": [[{"node": "Respond to Next.js", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "Next.js POST /api/enrollments/checkout → Stripe Checkout Session creation → Next.js is notified. Documented in n8n/docs/WORKFLOWS.md §2.1."
  }
}
