n8n/workflows/module-reminder-scheduler.json
{
  "name": "module-reminder-scheduler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "module-reminder-scheduler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: reminder scheduler",
      "webhookId": "module-reminder-scheduler-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "schedule_reminder"},
            {"name": "module_booking_id", "value": "={{ $json.body.module_booking_id }}"},
            {"name": "scheduled_start",   "value": "={{ $json.body.scheduled_start }}"},
            {"name": "to",                "value": "={{ $json.body.to }}"},
            {"name": "locale",            "value": "={{ $json.body.locale }}"},
            {"name": "student_name",      "value": "={{ $json.body.student_name }}"},
            {"name": "module_title",      "value": "={{ $json.body.module_title }}"},
            {"name": "join_url",          "value": "={{ $json.body.join_url }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Ask Next.js to schedule T-24h + T-1h reminders"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "name": "Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "email"},
            {"name": "template", "value": "admin_dead_letter"},
            {"name": "to", "value": "={{ $env.ADMIN_NOTIFY_EMAIL }}"},
            {"name": "locale", "value": "en"},
            {"name": "props[workflow]",      "value": "module-reminder-scheduler"},
            {"name": "props[errorMessage]",  "value": "={{ $json.error.message }}"},
            {"name": "props[originalEvent]", "value": "={{ $('Webhook: reminder scheduler').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter: notify admin"
    }
  ],
  "connections": {
    "Webhook: reminder scheduler": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Ask Next.js to schedule T-24h + T-1h reminders", "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin",                       "type": "main", "index": 0}]
      ]
    },
    "Ask Next.js to schedule T-24h + T-1h reminders": {
      "main": [
        [{"node": "Respond OK",                "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "Triggered after a booking is confirmed. Schedules T-24h and T-1h reminder emails via Next.js. Documented in n8n/docs/WORKFLOWS.md §2.7."
  }
}
