n8n/workflows/module-confirmation-email.json
{
  "name": "module-confirmation-email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "module-confirmation-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: confirmation email",
      "webhookId": "module-confirmation-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "email"},
            {"name": "template", "value": "module_booking_confirmed"},
            {"name": "to", "value": "={{ $json.body.to }}"},
            {"name": "locale", "value": "={{ $json.body.locale }}"},
            {"name": "props[studentName]",      "value": "={{ $json.body.student_name }}"},
            {"name": "props[moduleTitle]",      "value": "={{ $json.body.module_title }}"},
            {"name": "props[courseTitle]",      "value": "={{ $json.body.course_title }}"},
            {"name": "props[scheduledStartIso]","value": "={{ $json.body.scheduled_start }}"},
            {"name": "props[durationMin]",      "value": "={{ $json.body.duration_min }}"},
            {"name": "props[joinUrl]",          "value": "={{ $json.body.join_url }}"},
            {"name": "props[dashboardUrl]",     "value": "={{ $json.body.dashboard_url }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Ask Next.js to send the email"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "name": "Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "email"},
            {"name": "template", "value": "admin_dead_letter"},
            {"name": "to", "value": "={{ $env.ADMIN_NOTIFY_EMAIL }}"},
            {"name": "locale", "value": "en"},
            {"name": "props[workflow]",      "value": "module-confirmation-email"},
            {"name": "props[errorMessage]",  "value": "={{ $json.error.message }}"},
            {"name": "props[originalEvent]", "value": "={{ $('Webhook: confirmation email').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter: notify admin"
    }
  ],
  "connections": {
    "Webhook: confirmation email": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Ask Next.js to send the email", "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin",     "type": "main", "index": 0}]
      ]
    },
    "Ask Next.js to send the email": {
      "main": [
        [{"node": "Respond OK",            "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "Triggered after a Zoom meeting is created and persisted. Asks Next.js to render the module_booking_confirmed template and send via Resend. Documented in n8n/docs/WORKFLOWS.md §2.6."
  }
}
