n8n/workflows/module-reschedule.json
{
  "name": "module-reschedule",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "module-reschedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: module-reschedule",
      "webhookId": "module-reschedule-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.zoom.us/v2/meetings/{{ $json.body.zoom_meeting_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer {{ $json.zoom_access_token }}"},
            {"name": "Content-Type",  "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "start_time", "value": "={{ $json.body.new_start_time }}"},
            {"name": "duration",   "value": "={{ $json.body.new_duration_min }}"},
            {"name": "timezone",   "value": "={{ $json.body.timezone }}"}
          ]
        },
        "options": {"timeout": 15000, "response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Update Zoom meeting"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",               "value": "module_rescheduled"},
            {"name": "session_booking_id", "value": "={{ $json.body.module_booking_id }}"},
            {"name": "new_start_time",   "value": "={{ $json.body.new_start_time }}"},
            {"name": "new_duration_min", "value": "={{ $json.body.new_duration_min }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "name": "Persist reschedule (Next.js)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "name": "Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",          "value": "workflow_failed"},
            {"name": "workflow",      "value": "module-reschedule"},
            {"name": "error",         "value": "={{ $json.error.message }}"},
            {"name": "original_event","value": "={{ $('Webhook: module-reschedule').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter on Zoom error"
    }
  ],
  "connections": {
    "Webhook: module-reschedule": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Update Zoom meeting",     "type": "main", "index": 0}],
        [{"node": "Dead-letter on Zoom error","type": "main", "index": 0}]
      ]
    },
    "Update Zoom meeting": {
      "main": [
        [{"node": "Persist reschedule (Next.js)", "type": "main", "index": 0}],
        [{"node": "Dead-letter on Zoom error",     "type": "main", "index": 0}]
      ]
    },
    "Persist reschedule (Next.js)": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "module-booking reschedule → PATCH Zoom meeting → persist new scheduled_start. Documented in n8n/docs/WORKFLOWS.md §2.5."
  }
}
