n8n/workflows/module-completed.json
{
  "name": "module-completed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "module-completed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: module-completed",
      "webhookId": "module-completed-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",               "value": "module_completed"},
            {"name": "session_booking_id", "value": "={{ $json.body.module_booking_id }}"},
            {"name": "session_id",         "value": "={{ $json.body.module_id }}"},
            {"name": "session_grant_id",   "value": "={{ $json.body.enrollment_id }}"},
            {"name": "completed_at",       "value": "={{ $json.body.completed_at }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Persist module_progress (Next.js)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",             "value": "evaluate_completion"},
            {"name": "session_grant_id", "value": "={{ $json.body.enrollment_id }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "name": "Check enrollment completion (Next.js)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"enrollment_completed\": {{ $node['Check enrollment completion (Next.js)'].json.enrollment_completed }}\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "name": "Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type",          "value": "workflow_failed"},
            {"name": "workflow",      "value": "module-completed"},
            {"name": "error",         "value": "={{ $json.error.message }}"},
            {"name": "original_event","value": "={{ $('Webhook: module-completed').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter on error"
    }
  ],
  "connections": {
    "Webhook: module-completed": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Persist module_progress (Next.js)", "type": "main", "index": 0}],
        [{"node": "Dead-letter on error",               "type": "main", "index": 0}]
      ]
    },
    "Persist module_progress (Next.js)": {
      "main": [
        [{"node": "Check enrollment completion (Next.js)", "type": "main", "index": 0}],
        [{"node": "Dead-letter on error",                  "type": "main", "index": 0}]
      ]
    },
    "Check enrollment completion (Next.js)": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "module-completed trigger → persist module_progress → evaluate enrollment completion (unlocks the next module, or flips enrollment.status to 'completed'). Documented in n8n/docs/WORKFLOWS.md §2.3."
  }
}
