n8n/workflows/tutor-notification.json
{
  "name": "tutor-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tutor-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "name": "Webhook: tutor notification",
      "webhookId": "tutor-notification-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [
            {
              "id": "if-hmac",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "name": "Verify webhook secret"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "email_tutor"},
            {"name": "to", "value": "={{ $json.body.tutor_email }}"},
            {"name": "subject", "value": "={{ $json.body.subject }}"},
            {"name": "body", "value": "={{ $json.body.body }}"},
            {"name": "session_booking_id", "value": "={{ $json.body.module_booking_id }}"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "name": "Send tutor notification"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300],
      "name": "Respond OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SITE_URL }}/api/n8n/notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type",     "value": "application/json"},
            {"name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "type", "value": "email"},
            {"name": "template", "value": "admin_dead_letter"},
            {"name": "to", "value": "={{ $env.ADMIN_NOTIFY_EMAIL }}"},
            {"name": "locale", "value": "en"},
            {"name": "props[workflow]",      "value": "tutor-notification"},
            {"name": "props[errorMessage]",  "value": "={{ $json.error.message }}"},
            {"name": "props[originalEvent]", "value": "={{ $('Webhook: tutor notification').first().json }}"}
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520],
      "name": "Dead-letter: notify admin"
    }
  ],
  "connections": {
    "Webhook: tutor notification": {
      "main": [[{"node": "Verify webhook secret", "type": "main", "index": 0}]]
    },
    "Verify webhook secret": {
      "main": [
        [{"node": "Send tutor notification", "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin","type": "main", "index": 0}]
      ]
    },
    "Send tutor notification": {
      "main": [
        [{"node": "Respond OK",                "type": "main", "index": 0}],
        [{"node": "Dead-letter: notify admin", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "tags": [{"name": "phase-3"}],
  "meta": {
    "description": "Triggered by the tutor lifecycle events (booking, reschedule, cancellation). Asks Next.js to send a tutor notification email. Documented in n8n/docs/WORKFLOWS.md §2.9."
  }
}
